<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Calm&Connect</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-MYy6Unf7e4z0O8i5X5yxkXlm1W8Wj4zqG5Ech4Om6pJ6R6I1n5GeP0R7cc5NQzWP" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Fighting Anxiety <img src="~/Pictures/logo.jpg" alt="Logo" class="logo" onclick="location.href='@Url.Action("Index", "Home")'" /> One At a Time</h1>
            <button class="login-signup" onclick="location.href='@Url.Action("Dashboard", "Home")'">Login/Signup</button>
        </div>
    </header>
    <nav class="menu-bar">
        <button onclick="location.href='@Url.Action("Index", "Home")'">Home</button>
        <button onclick="location.href='@Url.Action("DoctorsList", "Home")'">Doctors List</button>
        <div class="dropdown">
            <button class="dropbtn">Appointments</button>
            <div class="dropdown-content">
                <button onclick="location.href='@Url.Action("Anonymous", "Home")'">Anonymous</button>
                <button onclick="location.href='@Url.Action("Online", "Home")'">Online</button>
                <button onclick="location.href='@Url.Action("Offline", "Home")'">Offline</button>
            </div>
        </div>
        <button onclick="location.href='@Url.Action("Blogs", "Home")'">Blogs</button>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <p class="footer-text">Footer Text</p>
        <ul class="footer-list">
            <li>item1</li>
            <li>item2</li>
        </ul>
        <ul class="footer-list">
            <li>item3</li>
            <li>item4</li>
        </ul>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4Agm2A7XJc9k7PjNfz0hN4t3mPZ7z5uM4j4JSj4+vZ4h8k7R3vXo" crossorigin="anonymous"></script>
    <script src="~/js/site.js"></script>
</body>
</html>


